@import "../../config/colors.scss";

#auth_layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth_header {
  background: linear-gradient(
    0deg,
    rgba(255, 225, 170, 0.0001) 0%,
    #efceff 100%
  );
  padding-block: 3.5em;
  display: block;
  text-align: center;
  h5 {
    font-weight: bold !important;
  }
}

section {
  margin: 0 20px;
  h2 {
    text-align: center;
  }
  form#login-form {
    max-width: 540px;
    width: 100%;
    margin: auto;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    .input-field {
      background-color: #e2e2e2;
      transition: all 0.3s;

      &:hover,
      &:focus-within {
        background-color: #e8e6ee !important;
      }

      fieldset {
        border: none;
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding-block-start: 3em;
  margin-block-start: auto;
  z-index: -1;

  p {
    padding-block: 1em;
    background-color: $apy-primary-color;
    color: $apy-white-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8em;
    padding-block-start: 7em;
    background: linear-gradient(
      0deg,
      $apy-secondary-color 0,
      #ffffff calc(100% - 2em)
    );
    z-index: -1;
  }

  &::before {
    position: relative;
    content: "";
    background: linear-gradient(
      270deg,
      transparent 0%,
      transparent 50%,
      $apy-primary-color 50.01%,
      $apy-primary-color 100%
    );
    background-repeat: repeat;
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 4.75em;
    height: 1em;
    background-size: 1em;
  }
}


.register {
  margin-top: 1em;
}
