@import "../../../../config/colors.scss";

.main_header {
  padding: 2.3vw 3vw;
  background-color: $apy-primary-color;
  position: sticky;
  z-index: 100;
  top: 0;
  &__navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    .logo {
      font-size: 22px;
      color: white;
    }
    &__items {
      display: flex;
      gap: 1rem;
      .nav-item a{
        cursor: pointer;
        color: $apy-white-color;
        text-decoration: none;
      }
      .nav_item {
        cursor: pointer;

        &.active::after {
          content: "";
          margin: auto;
          display: block;
          height: 2px;
          width: 100%;
          transition: all 0.3s;
          margin-top: 3px;
          background-color: $apy-white-color;
        }

        &:not(.active) {
          &:after {
            content: "";
            margin: auto;
            display: block;
            height: 3px;
            width: 0%;
            transition: all 0.3s;
            margin-top: 3px;
          }
          &:hover{
            .menu{
              display: flex;
            }
          }
          &:hover:after {
            width: 100%;
            background-color: $apy-secondary-color;
          }
        }

        a,
        span {
          position: relative;
          color: $apy-white-color;
          text-decoration: none;
          padding: 4px;
          .menu {
            display: none;
            position: absolute;
            background-color: $apy-primary-color;
            padding: 10px;
            width: max-content;
            text-align: end;
            right: 0;
            top: 30px;
            flex-direction: column;
          }
        }
      }
    }
  }
}
