
.modal_wrapper {
  @apply bg-purple-70;
  min-height: 100vh;
  color: #ffffff;
  .request_box {
    div {
      background: #ffffff url("/request_modal_bg.png") no-repeat center right;
      height: 200px;
      background-size: contain;
    }
  }
}
