@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../config/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  color: $apy-primary-color;
}

.Link {
  text-decoration: underline;
}
a {
  color: $apy-primary-color;
}

input {
  &::placeholder {
    color: $apy-placeholder-gray-color !important;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: $apy-primary-color; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

.layout-wrapper {
  height: calc(100vh - 120px);
}
.page-min-height {
  min-height: 100%;
  overflow: auto;
}

.placeholder_gray {
  color: #b7b7b7 !important;
}

.tel_input_wrapper {
  .form-control {
    background-color: #ebebeb !important;
    transition: all 0.3s !important;
    width: 100% !important;
    border: 0 !important;
    padding: 17px 68px !important;
    border-radius: 0 !important;
    font-size: 15px !important;
    &:hover,
    &:focus-within,
    &:focus {
      background-color: #e8e6ee !important;
      outline: 0 !important;
      border: 0 !important;
      box-shadow: none !important;
    }
  }
  .arrow {
    left: 36px !important;
  }
  .search {
    input {
      width: 90%;
      padding: 10px;
    }
  }
  .country-list {
    border-radius: 0 !important;
  }
  .flag-dropdown {
    min-width: 4rem;
    > div {
      width: 100%;
    }
  }
  .btn-yellow {
    padding: 16.5px 16px !important;
    border-radius: 0 !important;
    height: 100%;
    min-width: fit-content;
  }
}

.error_text {
  font-size: 12px;
  color: $apy-error-color;
}

.btn {
  border-radius: 0;
  width: 100%;
}
.capsule_btn {
  border: 1px solid $apy-primary-color;
  &.active {
    color: $apy-white-color;
    background: linear-gradient(
      90deg,
      $apy-primary-color,
      $apy-secondary-color
    );
  }
}

.primary-color {
  color: $apy-primary-color;
  fill: $apy-primary-color;
}
.secondary-color {
  color: $apy-secondary-color;
  fill: $apy-secondary-color;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.btn {
  text-transform: uppercase;
  line-height: 3em;
  text-align: center;
  border-color: transparent;
  border-inline: 0;
  transition: all 0.2s ease-out;
  font-weight: 800;
  text-decoration: none;
  color: $apy-white-color;
  &.gradient-btn {
    margin-top: 2em;
    background: linear-gradient(
      90deg,
      $apy-primary-color,
      $apy-secondary-color
    );
  }
  &.secondary-btn {
    background-color: $apy-secondary-color;
  }
}

.gradient_bg {
  background: linear-gradient(90deg, $apy-primary-color, $apy-secondary-color);
}

.btn-secondary {
  background-color: $apy-secondary-color;
  padding: 0.8rem 1.5rem !important;
  color: $apy-white-color;
  &:not(.no-radius) {
    border-radius: 6px;
  }
  // text-transform: none;
  &:hover {
    background-color: $apy-secondary1-color;
  }
}
.btn-yellow {
  background-color: $apy-yellow-color !important;
  padding: 0.4rem 1.2rem !important;
  color: $apy-primary-color !important;
  &:not(.no-radius) {
    border-radius: 6px;
  }
  text-transform: uppercase;
  &:hover {
    background-color: $apy-yellow1-color !important;
  }
}

.btn-primary {
  background-color: $apy-primary-color;
  padding: 0.8rem 1.5rem !important;
  color: $apy-white-color;
  border-radius: 6px;
  // text-transform: none;
  &:hover {
    background-color: $apy-primary1-color;
  }
}

.input-field {
  background-color: #ebebeb;
  transition: all 0.3s;

  &:hover,
  &:focus-within {
    background-color: #e8e6ee !important;
  }

  input:invalid {
    border: 1px solid $apy-error-color;
  }

  fieldset {
    border: none;
  }
}

.form-label-bold {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.note {
  font-size: 12.6px;
  color: $apy-note-gray-color;
  line-height: 1.5;
  &.success {
    color: #71cc71;
  }
}

.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.primary_section {
  background-color: $apy-primary-color;
  color: $apy-white-color;
}
.secondary_section {
  background-color: $apy-secondary-color;
}

.large_container {
  max-width: 1200px;
  margin: auto;
}

.xl_heading_bold {
  font-size: 36px;
  font-weight: 700;
}
.large_heading_bold {
  font-size: 32.6px;
  font-weight: 700;
}
.medium_heading_light {
  font-size: 22.5px;
  font-weight: 500;
}
.medium_heading_bold {
  font-size: 24px;
  font-weight: 700;
}

.rotate-infinite {
  animation: l15 1s infinite linear;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: $apy-primary-color;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

.grid-template-details {
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(10, 320px);
  gap: 10px;
}

.transparent {
  outline: 0;
  border: 1px solid lightgray;
  padding: 8px 12px;
  width: 100%;
  background: none;
}

button:not(.MuiButton-text):disabled {
  background-color: rgb(195, 192, 192) !important;
}
button {
  font-weight: 700 !important;
}

@keyframes l15 {
  100% {
    transform: rotate(-1turn);
  }
}

@screen sm {
  .container-custom {
    max-width: 640px; /* Your custom width for small screens */
  }
}

@screen md {
  .container-custom {
    max-width: 768px; /* Your custom width for medium screens */
  }
}

@screen lg {
  .container-custom {
    max-width: 1024px; /* Your custom width for large screens */
  }
}

@screen xl {
  .container-custom {
    max-width: 1140px; /* Your custom width for extra large screens */
  }
}
