@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: black; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

.res-4-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 items-center;
}

.rotate-infinite {
  animation: l15 1s infinite linear;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #fff 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #fff 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

.grid-template-details {
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(10, 320px);
  gap: 10px;
}

.transparent {
  outline: 0;
  border: 1px solid lightgray;
  padding: 8px 12px;
  width: 100%;
  background: none;
}

.polygon-clip {
  clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0 0);
}

.pink-gradient-button {
  @apply bg-pink-gradient text-white text-button rounded-[10px] py-[14px];
}

@keyframes l15 {
  100% {
    transform: rotate(-1turn);
  }
}
