@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply font-sans;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #faf4f4;
  /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #e7dfdf;
  /* Color of the scrollbar handle */
  border-radius: 5px;
  /* Rounded corners */
}

.res-4-grid {
  @apply items-center gap-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.res-3-grid {
  @apply items-center gap-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

.res-2-grid {
  @apply items-center gap-4 grid grid-cols-1 md:grid-cols-2 xl:ml-auto xl:w-[calc(100%-200px)];
}

.rotate-infinite {
  animation: l15 1s infinite linear;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #fff 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #fff 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

.loader-circle {
  width: 20px;
  height: 20px;
  @apply border-purple;
  border: 2px solid;
  border-top: 2px solid transparent;
  /* Color of the loader */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.grid-template-details {
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(10, 320px);
  gap: 10px;
}

.polygon-clip {
  clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0 0);
}

.pink-gradient-button {
  @apply bg-purple-gradient py-[14px] rounded-[10px] text-button text-white;
}

@keyframes l15 {
  100% {
    transform: rotate(-1turn);
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkmark */
.custom-checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid gray;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input[type="checkbox"] ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark {
  @apply bg-purple-100;
  border: none;
}

/* Create the checkmark/indicator */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 7.5px;
  top: 3.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  border: 1.5px solid;
  @apply border-purple-100;
  border-radius: 50%;
  outline: none;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-radio input[type="radio"]::before {
  content: "";
  width: 9px;
  height: 9px;
  @apply bg-purple-100;
  border-radius: 50%;
  display: none;
  position: absolute;
}

button:disabled {
  &.disabled {
    @apply bg-gray-300 !important;
  }
}

.custom-radio input[type="radio"]:checked::before {
  display: block;
}

.radio-label {
  font-size: 16px;
  @apply font-medium;
  @apply text-black-100;
}

// React Phone Input Classes overrides
// .special-label {
//   position: static !important;
// }

.thinScrollbarPadded {
  scrollbar-color: #f1f1f1;
  
  /* For WebKit browsers */
  &::-webkit-scrollbar {
    width: 13px;
    background: #f1f1f1;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Ensures track color matches */
    margin: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 4px;
    box-shadow: inset 3px 0 0 0 #f1f1f1, inset -3px 0 0 0 #f1f1f1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}

