$apy-primary-color: #623680;
$apy-primary1-color: #623680c8;
$apy-secondary-color: #d93f72;
$apy-secondary1-color: #d93f72ac;
$apy-yellow-color: #ffe8bf;
$apy-error-color: #B00020;

$apy-yellow1-color:#ffe8bfcd;

$apy-white-color: #fff;
$apy-placeholder-gray-color: #516270;
$apy-note-gray-color: #9e9e9e;
