$apy-primary-color: #623680;
$apy-primary-transparent-color: #623680db;
$apy-primary1-color: #623680c8;
$apy-secondary-color: #d93f72;
$apy-secondary1-color: #d93f72ac;
$apy-yellow-color: #ffe8bf;
$apy-error-color: #b00020;

$apy-yellow1-color: #ffe8bfcd;

$apy-white-color: #fff;
$apy-placeholder-gray-color: #516270;
$apy-note-gray-color: #9e9e9e;

$apy-gradient-color: linear-gradient(
  270deg,
  $apy-primary-color,
  $apy-secondary-color
);
