.registration_layout_header {
  .upgrade_message {
    @apply bg-light-purple-gradient;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fff;
    }
    overflow: hidden;

    .actions {
      display: flex;
      gap: 5px;
      transition: all 0.8s;
      &.hide_mate {
        transform: translateX(400px);
      }
      button {
        border-radius: 0;
      }
    }
  }
  .navbar {
    @apply bg-pink-gradient;
    * {
      color: #fff;
    }
    a:hover,
    a.active {
      @apply text-purple-100;
    }
  }
  #setting_btn {
    padding: 10px;
    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
