.header_step_btn {
  padding: 1.2rem;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #9e9e9e4f;
  &.active {
    @apply bg-pink-gradient;
    font-weight: 800;
    color: #fff;
  }
  &:disabled {
    background-color: #6969695c;
    color: grey;
  }
}

.title,
.value {
  font-weight: 700;
}
.title {
  color: grey;
}
