.SidebarWrapper {
  border-right: 1px solid;
  @apply border-purple;
  .navLink {
    * {
      color: rgb(202, 201, 201);
      font-weight: 600;
    }
    &.active {
      * {
        color: gray;
        font-weight: 700;
      }
    }
  }
}
