@import "../../../../config/colors.scss";

.footer_main_wrapper {
  background-color: $apy-primary-color;
  padding: 3.3vmax;
  a,
  span,
  button,
  * {
    color: $apy-white-color;
  }
  a{
    text-underline-offset: 4px;
  }

  .content_wrapper {
    max-width: 1200px;
    margin: auto;
    .footer_items_wrapper {
      justify-content: space-between;
    }

    .footer_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 28px;
      font-size: 15px;

      &.footer-logo span {
        font-size: 24px;
      }

      .footer_btn {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
      }
      .social_container{
        display: flex;
        column-gap: 10px;
        font-size: 20px;
      }
    }
  }
}
