.upgrade_modal_wrapper {
  background-color: black;
  min-height: 100vh;
  color: white;

  .continue_modal {
    background: #dadada;
    @apply text-purple-100;
  }
  .secure_icon svg {
    width: 4.5rem;
    height: 4.5rem;
  }

  .upgrade_modal {
    @apply bg-light-purple-gradient;
    color: white;
  }
}
